*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:#fff;
line-height:1.8;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111827;
position:sticky;
top:0;
}

.logo{
font-size:30px;
font-weight:bold;
color:#60a5fa;
}

.logo span{
color:#8b5cf6;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
transition:.3s;
}

nav a:hover{
color:#60a5fa;
}

.hero{
text-align:center;
padding:100px 20px;
}

.hero h1{
font-size:50px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:800px;
margin:auto;
color:#cbd5e1;
}

.btn{
display:inline-block;
margin-top:35px;
padding:15px 35px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:10px;
transition:.3s;
}

.btn:hover{
background:#1d4ed8;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
padding:80px 10%;
}

.card{
background:#1e293b;
padding:30px;
border-radius:15px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px rgba(37,99,235,.4);
}

.card h2{
margin-bottom:15px;
color:#60a5fa;
}

footer{
text-align:center;
padding:25px;
background:#111827;
margin-top:50px;
color:#94a3b8;
}

@media(max-width:768px){

header{
flex-direction:column;
}

.hero h1{
font-size:35px;
}

.hero p{
font-size:18px;
}

  }
